<div>
  {{ form }}
</div>
<table class="table">
  <tr>
  <th> Movie </th>
  <th> Description </th>
  <th> Poster </th>
  <th> Ratings </th>
  <th> Actors </th>
  </th>
    {% for item in items %}
    <tr>
    <td><a href =/node/{{ item.nid }}  {{item.url}}>{{ item.name }}</a></td>
    <td> {{ item.des|render|striptags }}</td>
    <td> <img src = {{ item.poster }}  > </td>
     <td class = "star">
     {% if item.ratings >= 1 %}
      {% for star in range(1,item.ratings) %}
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        {% endfor %}
      {% endif %}
     {% if item.halfStarFlag %}
     <i class="glyphicon glyphicon-star half"></i>
     {% endif %}
    <td>
    {% for actor in item.actors %}
      <a href = /moviedb/{{ actor.nid }} >{{ actor.name }}</a><br>
    {% endfor %}
     </td>
      </tr>
    {% endfor %}
</table>
{{ pager }}
